.menu3{
     padding: 8px 15px 8px 30px;cursor:pointer;
}
.menu3 a{
    color: #878787;
}

.icons{
    width:16px;
    height:16px;
    margin:0 3px 0 0;
    background-image:url(../themes/insdep/images/alert_icons.png);
    background-repeat:no-repeat;
    float:left;
}

.icons-ok{
    background-position:0 0;
}
.icons-error{
    background-position:-16px 0;
}